body {
    background: #fff;
    box-sizing: border-box;
}

.calculator {
    width: 200px;
    height: auto;
    background: black;
    margin: 30px auto 0 auto;
}

#display {
    width: 200px;
    position: relative;
    display: block;
    height: 30px;
    color: white;
    font-size: 30px;
    padding: 15px 0 15px 5px;
}



#keys {
    position: relative;
    width: 200px;
    height: auto;
    margin: 0;
}

.rows {
    position: relative;
    width: 200px;
    height: auto;
}

button {
    padding: 0;
    border: 1px solid #013d3a;
    margin: 0 -4px 0 0;
    background-color: #414751;
    font-size: 1.2em;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #545c6b;
    cursor: pointer;
}

button:active, button:focus {
    outline-style: none;
}

.btn-n {
    width: 50px;
    height: 50px;
}

.btn-bg{
    width: 100px;
    height: 50px;
}

#eql{
    background-color: #66f4b2;
    transition: background-color 0.3s;
}

#eql:hover {
    background-color: #0cff8d;
}

#clear {
    background-color: #f94848;
    transition: background-color 0.3s;
}

#clear:hover {
    background-color:  #ff0c0c;
}

.back-to-main {
    position: relative;
    clear: both;
    text-align: center;
    top: 50px;
    margin-bottom: 20px;
}
.back-to-main > a {
    text-decoration: none;
    color: red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 2px;
    padding: 10px;
}

.back-to-main > a:hover {
    color: white;
    background-color: red;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 5px;
}